*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho y alto */
}

video {
  display: block;
  margin: 0;
  padding: 0;
}

/*Creando mis propias variables*/
:root {
  --primary-font: "Raleway", sans-serif;
  --bs-dark-bg-subtle: #6c757d8f;
}

.redes {
  background-color: rgba(170, 175, 180, 0.6941176471);
}

header {
  position: sticky;
  top: 0px;
  border-bottom: 0.6px solid var(--bs-dark-bg-subtle);
  z-index: 1000;
}

.navbar-brand img {
  max-width: 100%;
  height: 100px;
  animation-name: rotar;
  animation-timing-function: ease;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 0.1s;
}

.nav-link {
  font-family: var(--primary-font);
  display: flex;
  align-items: center;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.collapse .nav-link {
  margin: 5px;
  padding-left: 10px;
  transition: all 0.3s ease-in-out;
}

.collapse .nav-link:hover {
  background-color: var(--bs-dark-bg-subtle);
  color: white;
}

.login {
  color: #2d7dd6;
  font-weight: bold;
  background-color: rgba(45, 124, 214, 0.0941176471);
  transition: all 0.3s ease-in-out !important;
}

.login:hover {
  background-color: #2d7dd6 !important;
  color: white;
}

@keyframes rotar {
  100% {
    transform: rotate(360deg);
  }
}
/* Esto hace que el footer siempre se mantenga abajo de todo */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
  /*------------------------------------*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-top: 1px solid rgb(221, 220, 220);
  background-color: #c8cbcf;
}

.menu-footer {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}
.menu-footer h4 {
  text-align: center;
  font-family: var(--primary-font);
  font-weight: bold;
  margin-bottom: 40px;
}
.menu-footer .menu-footer__contactanos,
.menu-footer .menu-footer__ubicacion,
.menu-footer .menu-footer__redes {
  width: 250px;
}
.menu-footer .menu-footer__redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-footer .menu-footer__redes_li {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 40px;
}
.menu-footer .menu-footer_item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(99, 98, 98);
  list-style: none;
}
.menu-footer .menu-footer_item a {
  text-decoration: none;
  color: black;
}

.menu-footer_item:hover {
  color: black;
  text-decoration: underline;
}

footer p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(99, 98, 98);
  margin-bottom: 0;
  padding-bottom: 0;
}

.logo {
  max-width: 100%;
  max-height: 100px;
}

.copyright {
  border-top: 2px solid black;
  padding: 10px;
}
.copyright p {
  text-align: center;
  font-family: var(--primary-font);
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
  padding-bottom: 0;
}

footer div div a {
  padding: 2px;
}
footer div div a:hover {
  text-decoration: underline;
}

video {
  width: 100%;
  height: auto;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000ff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000ff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-item {
  width: 100%;
  height: 500px;
  background-size: cover;
}

.carousel-caption h5 {
  background-color: rgba(0, 0, 0, 0.39);
  font-family: var(--primary-font);
  color: white;
  font-weight: bold;
  font-size: 8rem;
}

.presentacion {
  margin-top: 0;
  background-color: rgba(45, 124, 214, 0.537254902);
  display: flex;
  justify-content: center;
  padding: 20px;
}

.presentacion p {
  width: 70%;
  font-size: 0.8rem;
  font-family: var(--primary-font);
  color: black !important;
  margin-bottom: 0;
}

.tarjeta {
  border-radius: 20px;
  max-height: 530px;
  max-width: 270px;
  background-color: rgba(245, 245, 245, 0.7921568627);
}

.tarjeta picture img {
  max-width: 100%;
  border-radius: 20px 20px 0 0;
  height: 200px;
  object-fit: cover;
}

.secciones {
  display: flex;
  justify-content: stretch;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
  gap: 20px;
}

.descripcion {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  padding: 20px;
}

.descripcion p {
  font-size: 0.8rem;
}

.descripcion h2 {
  font-family: var(--primary-font);
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

/******************************* MODULOS PRINCIPALES ******************************/
.modulos-principales {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 20px;
  justify-content: space-evenly;
  background-color: rgba(45, 124, 214, 0.2588235294);
}

.modulos-principales img {
  max-width: 100%;
  height: 250px;
}

.modulos-principales .descripcion {
  max-width: 500px;
}

.modulos-principales .title {
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: bold;
}

.modulos-principales p {
  font-family: var(--primary-font);
}

.modulos {
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.modulo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.3px solid #2d7cd6;
  border-radius: 6px;
  width: 210px;
  height: 210px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 0px 10px rgb(87, 81, 74);
}

.card-front {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  animation: fade 0.5s ease-in-out;
}

.card-back {
  position: absolute;
  top: 0;
  font-size: 0.8rem;
  font-family: var(--primary-font);
  border: 0.3px solid #2d7cd6;
  border-radius: 6px;
  width: 210px;
  height: 210px;
  background-color: #c9ddf4;
  padding: 5px;
  animation: fade 0.3s ease-in-out;
  display: none;
  padding: 15px;
  font-weight: 500;
}

.modulo:hover .card-back {
  display: block;
}

.modulo:hover .card-front {
  display: none;
}

.modulo h3 {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 1rem;
}

@keyframes fade /*Significa: disvanecerse*/ {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/******************************* PLANES ******************************/
.planes-suscripcion-h1 {
  margin-top: 20px;
  font-family: var(--primary-font);
  font-size: 2rem;
  text-align: center;
}

.planes-suscripcion-h2 {
  font-family: var(--primary-font);
  font-size: 1rem;
  margin-bottom: 30px;
  text-align: center;
}

.planes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
  margin-top: 50px;
  margin-bottom: 200px;
}

.plan_1,
.plan_2,
.plan_3 {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(7, 7, 7, 0.3);
  height: 100%;
}

.plan_1 {
  border-top: 25px solid black;
  animation: fade 0.3s ease-in-out;
}

.plan_2 {
  border-top: 25px solid gold;
  animation: fade 0.3s ease-in-out;
}

.plan_3 {
  border-top: 25px solid rgb(104, 12, 190);
  animation: fade 0.3s ease-in-out;
}

.plan_1:hover,
.plan_2:hover,
.plan_3:hover {
  transform: scale(1.01);
}

.plan__title__1 {
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
  color: black;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.plan__title__2 {
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
  color: black;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.plan__title__3 {
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
  color: black;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.plan__title__1 p {
  margin-bottom: 0;
}

.plan__title__2 p {
  margin-bottom: 0;
}

.plan__title__3 p {
  margin-bottom: 0;
}

.plan__precio {
  font-family: var(--primary-font);
  text-align: center;
  margin-bottom: 30px;
}

.plan__precio p {
  margin-bottom: 0;
}

.plan__precio span {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2rem;
}

.lista-modulos {
  text-align: center;
}

.lista-modulo {
  border-bottom: 1px solid #c4c7cb;
  padding: 10px;
  font-family: var(--primary-font);
}

.lista-title {
  font-weight: bold;
}

.lista-modulo-01 {
  padding: 10px;
  font-family: var(--primary-font);
}

.probar_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 7px;
  width: 100%;
  border-radius: 8px;
  background-color: none;
  border: 1px solid rgb(98, 92, 92);
  padding: 10px;
  font-weight: bold;
  color: #1a75be;
  transition: all 0.2s ease-in-out;
}

.probar_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 7px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  border: 1px solid rgb(98, 92, 92);
  padding: 10px;
  font-weight: bold;
  color: #1a75be;
  transition: all 0.2s ease-in-out;
}

.probar_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 7px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  border: 1px solid rgb(98, 92, 92);
  padding: 10px;
  font-weight: bold;
  color: #1a75be;
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
}

.probar_1:hover {
  background-color: black;
  color: white;
}

.probar_2:hover {
  background-color: gold;
  color: black;
}

.probar_3:hover {
  background-color: rgb(104, 12, 190);
  color: black;
}

/*****************************************CONTACTANOS**************************/
.content-contacto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.content-contacto .descripcion {
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.content-contacto .descripcion h1 {
  font-family: var(--primary-font);
  font-size: 3rem;
}

.content-contacto .descripcion p {
  font-family: var(--primary-font);
  font-size: 1rem;
}

.form-contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  margin: 0 auto;
  border: 1px solid rgb(221, 220, 220);
  padding: 40px;
  border-radius: 6px;
  gap: 20px;
  box-shadow: 0px 0px 10px rgba(90, 89, 89, 0.5);
}
.form-contacto h2 {
  font-family: var(--primary-font);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputs input {
  height: 100%;
  padding: 7px;
}

select option {
  width: 100%;
}

.inputs select option {
  font-family: var(--primary-font);
}

.inputs select {
  padding: 7px;
}

input::placeholder {
  font-family: var(--primary-font);
  font-size: 0.8rem;
}

.selecciona-pais {
  color: red;
}

textarea {
  padding: 10px;
  font-family: var(--primary-font);
  font-size: 0.8rem;
}

.button {
  font-family: var(--primary-font);
  box-shadow: 0px 0px 10px rgba(90, 89, 89, 0.5);
  background-color: rgb(120, 173, 235);
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(14, 58, 109);
}

/*****************************Login*******************************************/
.login-plataforma {
  border: 1px solid black;
  border-radius: 45px;
  width: 30%;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 200px;
}

.login-plataforma__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 40px;
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
}

.login-plataforma__title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 15px;
  font-size: 1rem;
}

.login-plataforma input {
  height: 40px;
  padding: 10px;
}

.olvidaste {
  padding: 10px;
  border-bottom: 1px solid black;
  text-align: center;
}

.registro {
  text-align: center;
}

.button-acceder {
  background-color: #1a75be;
  border-radius: 8px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  width: 120px;
  padding: 10px;
  cursor: pointer;
}

.main-login {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-login {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(232, 235, 234);
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
  padding: 30px;
  background-color: rgb(235, 235, 235);
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  box-shadow: 0px 0px 30px rgba(218, 218, 218, 0.5);
}

.form-login__title {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid rgba(15, 1, 1, 0.144);
  padding: 10px;
}

.form-login__title h1 {
  font-family: var(--primary-font);
  font-size: 2rem;
  text-align: center;
}

.form-login input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 6px;
}

.iniciar-sesion {
  width: 100px;
  background-color: rgb(43, 119, 226);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.iniciar-sesion:hover {
  background-color: rgb(14, 58, 109);
}

.olvidaste-password {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 1px solid rgba(15, 1, 1, 0.144);
  padding: 10px;
}

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
/* // Small devices (landscape phones, 576px and up) */
/* // Medium devices (tablets, 768px and up) */
@media (max-width: 1024px) {
  .form-login {
    width: 90%;
  }
  .form-contacto {
    width: 95%;
  }
  .navbar-brand img {
    height: 60px;
  }
  .carousel-item {
    width: 100%;
    height: 200px;
    background-size: cover;
  }
  .carousel-caption h5 {
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 2.1rem;
    color: white;
  }
}
/* // Large devices (desktops, 992px and up) */
/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1024px) {
  .form-login {
    width: 50%;
  }
}
/* // XX-Large devices (larger desktops, 1400px and up) */
.logo_wpp {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.logo_wpp img {
  width: 60px;
  margin: 0;
  padding: 0;
}

.logo_wpp a {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.logo_wpp a:hover {
  color: #2d7dd6;
  transform: scale(1.1);
}

.body-envio-form {
  background-color: rgba(178, 200, 224, 0.442);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
}

.envio-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 5px 5px 10px rgba(7, 7, 7, 0.3);
}
.envio-form img {
  max-width: 100%;
  height: 100px;
}

.agradecimiento {
  background-image: url(../img/background-contacto.jpg);
  background-size: cover;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}
.agradecimiento div h1 {
  display: flex;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: var(--primary-font);
}
.agradecimiento div p {
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-family: var(--primary-font);
}

.volver {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.volver a {
  background-color: #2d7dd6;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  font-family: var(--primary-font);
  font-weight: bold;
}
.volver a:hover {
  background-color: #1c4d85;
}

/*# sourceMappingURL=style.css.map */
