/*****************************************CONTACTANOS**************************/

.content-contacto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.content-contacto {
  .descripcion {
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
.content-contacto {
  .descripcion {
    h1 {
      font-family: var(--primary-font);
      font-size: 3rem;
    }
  }
}

.content-contacto {
  .descripcion {
    p {
      font-family: var(--primary-font);
      font-size: 1rem;
    }
  }
}

.form-contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  margin: 0 auto;
  border: 1px solid rgb(221, 220, 220);
  padding: 40px;
  border-radius: 6px;
  gap: 20px;
  box-shadow: 0px 0px 10px rgba(90, 89, 89, 0.5);
  h2 {
    font-family: var(--primary-font);
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputs {
  input {
    height: 100%;
    padding: 7px;
  }
}

select {
  option {
    width: 100%;
  }
}

.inputs {
  select {
    option {
      font-family: var(--primary-font);
    }
  }
}

.inputs {
  select {
    padding: 7px;
  }
}

input::placeholder {
  font-family: var(--primary-font);
  font-size: 0.8rem;
}

.selecciona-pais {
  color: red;
}

textarea {
  padding: 10px;
  font-family: var(--primary-font);
  font-size: 0.8rem;
}

.button {
  font-family: var(--primary-font);
  box-shadow: 0px 0px 10px rgba(90, 89, 89, 0.5);
  background-color: rgb(120, 173, 235);
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(14, 58, 109);
}
