/* Esto hace que el footer siempre se mantenga abajo de todo */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
  /*------------------------------------*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-top: 1px solid rgb(221, 220, 220);
  background-color: #c8cbcf;
}

.menu-footer {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
  justify-content: center;
  h4 {
    text-align: center;
    font-family: var(--primary-font);
    font-weight: bold;
    margin-bottom: 40px;
  }
  .menu-footer__contactanos,
  .menu-footer__ubicacion,
  .menu-footer__redes {
    width: 250px;
  }
  .menu-footer__redes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-footer__redes_li {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
  }

  .menu-footer_item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(99, 98, 98);
    list-style: none;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.menu-footer_item:hover {
  color: black;
  text-decoration: underline;
}

footer {
  p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(99, 98, 98);
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.logo {
  max-width: 100%;
  max-height: 100px;
}

.copyright {
  border-top: 2px solid black;
  padding: 10px;
  p {
    text-align: center;
    font-family: var(--primary-font);
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0;
  }
}

footer {
  div {
    div {
      a {
        padding: 2px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
