/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 1024px) {
  .form-login {
    width: 90%;
  }
  .form-contacto {
    width: 95%;
  }

  .navbar-brand {
    img {
      height: 50px;
    }
  }
}

/* // Large devices (desktops, 992px and up) */

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1024px) {
  .form-login {
    width: 50%;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
