/******************************* MODULOS PRINCIPALES ******************************/
.modulos-principales {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 20px;
  justify-content: space-evenly;
  background-color: #2d7cd642;
}

.modulos-principales {
  img {
    max-width: 100%;
    height: 250px;
  }
}
.modulos-principales {
  .descripcion {
    max-width: 500px;
  }
}

.modulos-principales {
  .title {
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: bold;
  }
}

.modulos-principales {
  p {
    font-family: var(--primary-font);
  }
}

.modulos {
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.modulo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.3px solid #2d7cd6;
  border-radius: 6px;
  width: 210px;
  height: 210px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 0px 10px rgb(87, 81, 74);
}

.card-front {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  animation: fade 0.5s ease-in-out;
}

.card-back {
  position: absolute;
  top: 0;
  font-size: 0.8rem;
  font-family: var(--primary-font);
  border: 0.3px solid #2d7cd6;
  border-radius: 6px;
  width: 210px;
  height: 210px;
  background-color: #c9ddf4;
  padding: 5px;
  animation: fade 0.3s ease-in-out;
  display: none;
  padding: 15px;
  font-weight: 500;
}

.modulo:hover .card-back {
  display: block;
}

.modulo:hover .card-front {
  display: none;
}

.modulo {
  h3 {
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 1rem;
  }
}

@keyframes fade /*Significa: disvanecerse*/ {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
