/******************************* PLANES ******************************/
.planes-suscripcion-h1 {
  margin-top: 20px;
  font-family: var(--primary-font);
  font-size: 2rem;
  text-align: center;
}

.planes-suscripcion-h2 {
  font-family: var(--primary-font);
  font-size: 1rem;
  margin-bottom: 30px;
  text-align: center;
}

.planes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
  margin-top: 50px;
  margin-bottom: 200px;
}

.plan_1,
.plan_2,
.plan_3 {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(7, 7, 7, 0.3);
  height: 100%;
}

.plan_1 {
  border-top: 25px solid black;
  animation: fade 0.3s ease-in-out;
}

.plan_2 {
  border-top: 25px solid gold;
  animation: fade 0.3s ease-in-out;
}

.plan_3 {
  border-top: 25px solid rgb(104, 12, 190);
  animation: fade 0.3s ease-in-out;
}

.plan_1:hover,
.plan_2:hover,
.plan_3:hover {
  transform: scale(1.01);
}

.plan__title__1 {
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
  color: black;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  // background-color: rgb(0, 0, 0);
}

.plan__title__2 {
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
  color: black;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  // background-color: rgba(255, 217, 0, 0.267);
}
.plan__title__3 {
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
  color: black;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  // background-color: rgba(104, 12, 190, 0.363);
}

.plan__title__1 {
  p {
    margin-bottom: 0;
  }
}

.plan__title__2 {
  p {
    margin-bottom: 0;
  }
}

.plan__title__3 {
  p {
    margin-bottom: 0;
  }
}

.plan__precio {
  font-family: var(--primary-font);
  text-align: center;
  margin-bottom: 30px;
}

.plan__precio {
  p {
    margin-bottom: 0;
  }
}

.plan__precio span {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2rem;
}

.lista-modulos {
  text-align: center;
}

.lista-modulo {
  border-bottom: 1px solid #c4c7cb;
  padding: 10px;
  font-family: var(--primary-font);
}

.lista-title {
  font-weight: bold;
}

.lista-modulo-01 {
  padding: 10px;
  font-family: var(--primary-font);
}

.probar_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 7px;
  width: 100%;
  border-radius: 8px;
  background-color: none;
  border: 1px solid rgb(98, 92, 92);
  padding: 10px;
  font-weight: bold;
  color: #1a75be;
  transition: all 0.2s ease-in-out;
}

.probar_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 7px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  border: 1px solid rgb(98, 92, 92);
  padding: 10px;
  font-weight: bold;
  color: #1a75be;
  transition: all 0.2s ease-in-out;
}

.probar_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 7px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  border: 1px solid rgb(98, 92, 92);
  padding: 10px;
  font-weight: bold;
  color: #1a75be;
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
}

.probar_1:hover {
  background-color: black;
  color: white;
}

.probar_2:hover {
  background-color: gold;
  color: black;
}

.probar_3:hover {
  background-color: rgb(104, 12, 190);
  color: black;
}
